output
models/*
exported_models
dreamlite_export
AppleDevice
.vscode
infer_mobile_w8a8.py
benchmark
modules

__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env/

*.pt
*.pth
*.ckpt
*.safetensors
*.onnx
*.bin

# 日志和缓存
logs/
*.log
.cache/